<?xml version="1.0"?>
<ViewConfig xmlns="http://www.meek-framework.com/">

  <!-- Areas -->
  <Areas>
    <Area Name="Admin">
      
      <Masters>
        <Master>
          <Name>Main</Name>
          <File>~/Shared/_MainLayout.cshtml</File>
        </Master>
      </Masters>
      
      <Views>
        <View>
          <Name>Index</Name>
          <File>~/Areas/Admin/Index.cshtml</File>
          <!--<Master>Main</Master>-->
        </View>
      </Views>
      
    </Area>
  </Areas>
  <!-- End Areas -->

  <Masters>
    <Master>
      <Name>Main</Name>
      <File>~/Shared/_MainLayout.cshtml</File>
    </Master>
  </Masters>
  
  <!-- Views -->
  <Views>
    <View>
      <Name>Index</Name>
      <File>~/Index.cshtml</File>
      <Master>Main</Master>
    </View>
  </Views>
  <!-- End of Views -->
  
</ViewConfig>